<!DOCTYPE html>
<html>
  <head>
    <title>Pipis Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-primary text-white mb-4 p-4 text-center">
      <%= link_to root_path, class:"text-white" do%>
      <h1>Blog do Pipi</h1>
      <%end%>

      <p class="lead">Olá, me chamo Joao Pierre (Pipi), e estou no caminho para me tornar um desenvlovedor!</p>
     </div>
     <div class="container">
     <%= yield %>
     </div>
    
    <footer class="text-white bg-primary p-4 mt-5 mb-5 ">
      Copyright Pipi <%=Date.current.year%>
    </footer>
  </body>
</html>
