<!DOCTYPE html>
<html>
  <head>
    <title>Pipis Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="bg-danger text-white mb-4 p-4">
      <%= link_to root_path, class:"text-white" %>
     <h1 class="text-white">Pipi Gululoso</h1>

    </div>
    dfgggg
    <%= yield %>
  </body>
</html>
