<div class="card bg-light">
  <div class="card-body">
    <h4><%= link_to post.title, post %></h4>
    <div class="text-nuted mb-2">
      <em>
        Por <%=post.author %> (<%= l(post.created_at, format: :long) %>)
      </em>
    </div>

    <p><%= post.body.truncate(100) %></p>

    <p class="text-muted"><%= pluralize(post.comments.count, 'Comentário') %></p>


    <%= link_to "Ler Arquivo", post, class:'btn btn-primary'%>

    <%= link_to "Editar", edit_post_path(post), class: "btn btn-secondary"%>

    <%= link_to "Apagar", post, mothod: :delete, class: "btn btn-danger", data: {confirm: "Você tem certeza?"} %>

  </div>
</div>